<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="RG_ProjectConnectionString" connectionString="Data Source=DESKTOP-EKUNIJ0;Initial Catalog=RG_Project;User ID=sa;Password=9703464435"
        providerName="System.Data.SqlClient" />
    <add name="RG_ProjectConnectionString2" connectionString="Data Source=DESKTOP-EKUNIJ0;Initial Catalog=RG_Project;User ID=sa;Password=9703464435"
        providerName="System.Data.SqlClient" />
    <add name="RG_ProjectConnectionString3" connectionString="Data Source=DESKTOP-EKUNIJ0;Initial Catalog=RG_Project;User ID=sa;Password=9703464435"
        providerName="System.Data.SqlClient" />
    <add name="RG_ProjectConnectionString4" connectionString="Data Source=DESKTOP-EKUNIJ0;Initial Catalog=RG_Project;User ID=sa;Password=9703464435"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/Login.aspx" defaultUrl="Startpage.aspx">

      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
